@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5em; /* Adjust as needed for spacing */
}
